.button-adjust {
    padding: 2px;
    background-color: #f68b1e;
    border-radius: 5px;
}

.button-adjust:active {
    border: 1px solid #f68b1e;

}

.button-adjust span {
    color: white;
}

.button-delete {
    background-color: white;
}

.button-delete:hover {
    /* padding: 2px; */
    background-color: #ffdfc0;
}

/* 
.btn-remove {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none; /* Remove the right border to make it look like it's joined to the next button *
}

/* Add button styles *
.btn-add {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none; /* Remove the left border to make it look like it's joined to the previous button *
} */

.quantity {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.3rem;
    align-self: center;
    color: rgb(87, 87, 87);
    width: 35px;
    text-align: center;
}

hr {
    margin: 0;
}

.cart-item {
    margin: 0 1.3rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(208, 208, 208, 0.97);
}



@media (min-width: 577px) {
    .footer-small-screen {
        display: none !important;
        /* visibility: hidden; */
    }
}

@media (max-width: 577px) {
    .cart-list {
        margin-top: 1rem !important;
        /* padding: 0 2rem !important; */
    }

    .price {
        align-items: flex-start !important;
        padding: 0 !important;
    }

    .footer {
        display: none !important;
    }

    .footer-small-screen {
        padding: 0 !important;
        align-items: center !important;
    }

    .btn-height {
        height: 1.9rem !important;
    }

    .icon-size {
        font-size: 18px !important;
        line-height: 1.3 !important;
    }

    .card-text {
        font-size: 0.97rem !important;
    }

    .quantity {
        font-size: 1rem !important;
    }
}
