.button-adjust {
    padding: 2px;
    background-color: #f68b1e;
}

.button-adjust:active {
    border: 1px solid #f68b1e;

}

.button-adjust span {
    color: white;
}

.button-delete {
    background-color: white;
}

.button-delete:hover {
    /* padding: 2px; */
    background-color: #ffdfc0;
}

/* 
.btn-remove {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none; /* Remove the right border to make it look like it's joined to the next button *
}

/* Add button styles *
.btn-add {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none; /* Remove the left border to make it look like it's joined to the previous button *
} */

.quantity {
    margin: 0 0.6rem;
    font-weight: 700;
    font-size: 1.3rem;
    align-self: center;
    color: rgb(87, 87, 87);
}

hr {
    margin: 0;
}

.cart-item {
    margin: 0 2rem 0 2rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(208, 208, 208, 0.97);
}
