<div class="card" style="border: 1px solid #f68b1e; border-radius: 6px; margin-top: 2rem;" >
    <div >
        <div class="card-header">
            <h5 >Cart Summary</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">Subtotal:</div>
                <div class="col-md-8  text-end">$35.00</div>
            </div>
            <div class="row">
                <div class="col-md-4">Shipping fee:</div>
                <div class="col-md-8  text-end text-danger">Free</div>
            </div>
            <div class="row">
                <div class="col-md-4">Estimated Tax:</div>
                <div class="col-md-8  text-end">$9.23</div>
            </div>
            <div class="row fw-bold">
                <div class="col-md-4">Total:</div>
                <div class="col-md-8  text-end">$44.23</div>
            </div>
        </div>
    </div>
</div>