.checkOut {
    /* padding: 2px; */
    background-color: #f68b1e;
    width: 96%;
    font-weight: 500;
    color: white;
    font-weight: 700;
    margin: 0.5rem ;
    padding: 0.5rem ;

    /* border-radius: 5px; */
}

.checkOut:active {
    border: 1px solid #f68b1e;

}

@media (max-width: 577px) {
    .card {
        margin: 1rem 1.6rem !important;
    }

    .card-text {
        font-size: 1rem;
    }

    .checkOut {
        font-size: 0.9rem !important;
    }
}