<div class="fluid-container" style="background-color: rgba(234, 234, 234, 0.982); margin-top: 4rem;"  >
    <div >
        <div class="styling" style="background-color: white; margin-bottom: 2rem; padding: 1rem 4rem;">
            <div class="menu d-flex mb-2">
                <a class="d-flex " [routerLink]="['/products']" >
                    <p class="mb-0" style="color: rgba(54, 54, 54, 0.995); font-family:sans-serif;">Home</p>
                    <span class="material-icons" style="font-size: 1.3rem; color: rgba(168, 168, 168, 0.985);">
                        navigate_next
                    </span>
                </a>
                <a class="d-flex">
                    <p class="mb-0" style="color: black; font-family:sans-serif;">My Account</p>
                    <span class="material-icons" style="font-size: 1.3rem; color: rgba(168, 168, 168, 0.985);">
                        navigate_next
                    </span>
                </a>
                <a [routerLink]="['/user/address']" routerLinkActive="router-link-active"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="d-flex">
                    <p class="mb-0" style="color: black; font-family:sans-serif;">My Address</p>
                </a>
            </div>
            <h3 class="heading fw-bold mb-0">
                Delivery Address
            </h3>
        </div>
        <div class="row justify-content-center" style=" padding: 0 2.5rem;">
            
            <div class="col-md-3 align p-2 me-3" style="background-color: white; border-radius: 6px;" >
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            account_circle
                        </span>
                    </div>
                    <div>
                        <p class="title" >My Profile</p>
                        <div>
                            <a [routerLink]="['/user/profile']" >Account Information</a>
                        </div>
                        <div><a [routerLink]="['/user/address']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Delivery Address</a></div>
                    </div>
                </div>
                <hr style="color: rgba(132, 131, 131, 0.985);">
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            shopping_bag
                        </span>
                    </div>
                    <div>
                        <p class="title" >My Orders</p>
                        <div><a [routerLink]="['/order/history']" routerLinkActive="active">Order History</a></div>
                        <div><a href="">Pending Ratings</a></div>
                    </div>
                </div>
                <hr style="color: rgba(132, 131, 131, 0.985);">
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            account_balance_wallet
                        </span>
                        
                    </div>
                    <div>
                        <p class="title" >My Wallet</p>
                        <div class="profile"><a href="">Wallet</a></div>
                    </div>
                </div>
                <hr style="color: rgba(132, 131, 131, 0.985);">
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            person_cancel
                        </span>
                    </div>
                    <div>
                        <p class="title" >Delete Account</p>
                        <div class="profile"><a href="">Delete Account</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 align-2">
                <div style="background-color: white; border-radius: 6px;" *ngIf="address$ | async as currentUser">
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <h5 class="button mb-0">Delivery Address</h5>
                        <div class="col-md-2 text-center">
                            <button [routerLink]="['/address/create']" routerLinkActive="router-link-active" *ngIf="currentUser.addresses?.length !== 0" class="btn add-address" type="button" (click)="showToast('Add a new address')" >Add Address</button>
                        </div>
                    </div>

                    <hr style="color: rgba(123, 122, 122, 0.985); margin: 0;">
                    <div class="address" style="padding: 1rem 2rem;">

                        <div class="row row-2" *ngIf="addresses.length > 0">
                            <div class="location w-50 p-2" *ngFor="let address  of addresses; let i = index" >
                                <div class="card" style="font-size: 0.9rem; padding: 0; height: 12rem;" *ngIf="address">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <p class="mb-0 fs-6 fw-semibold">Address {{i + 1}}
                                        </p>
                                    </div>
                                    <div class="card-body" style="padding: 0 0.7rem;" >
                                            <!-- <div *ngIf="currentUser && currentUser.addresses && currentUser.addresses.length > 0" > -->
                                        <div class="d-flex flex-column mt-2 mb-2"  >
                                            <div class="d-flex">
                                                <span class="material-symbols-outlined edit-btn">
                                                    person
                                                </span>
                                                <p class="card-text ms-3">{{ currentUser.firstName }} <ng-container >{{ currentUser.lastName }}</ng-container></p>
                                            </div>
    
                                            <div class="d-flex">
                                                <span class="material-symbols-outlined edit-btn">
                                                location_on
                                                </span>
                                                <p class="card-text ms-3 mb-1">
                                                {{ address.street }}, <ng-container >{{ address.city }}.</ng-container> {{ address.state }}, {{ address.country }}
                                                </p>
                                            </div>
                                            <div class="d-flex">
                                                <span class="material-symbols-outlined edit-btn">
                                                    phone_in_talk
                                                </span>
                                                <p class="card-text ms-3">{{ currentUser.phone }} </p>
                                            </div>
                                            <div class="d-flex align-self-end">
                                                <button class="button btn d-flex align-items-center me-2 p-1" (click)="deleteAddress(address._id)" >
                                                    <span class="material-symbols-outlined me-1" style="font-size: 1rem;">
                                                        delete
                                                    </span>
                                                    <p class="m-0 " style="font-size: 0.8rem;" >Delete</p>
                                                </button>
                                                <button class="button btn d-flex align-items-center p-1" (click)="editAddress()" >
                                                    <span class="material-symbols-outlined fs-6 me-1" style="color:#f68b1e;">
                                                        edit_square
                                                    </span>
                                                    <p class="m-0" style="font-size: 0.8rem;">Edit</p>
                                                </button>
                                            </div>
                                            <!-- <hr class="mt-2 mb-2"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 book" *ngIf="addresses.length < 1" >
                            <div style=" width: min-content;">
                                <img  src="../../../assets/products/notebook.0c73f0bb.svg" alt="Address book">
                                
                            </div>
                            <div class="text-center mt-3 mb-5">
                                <h6 class="mb-3 fw-bold" >You have not added any address yet!</h6>
                                <p class="m-0">Add your shipping addresses here for a fast purchase experience! You will be able to add, modify or delete them at any time.</p>
                            </div>
    
                            <a [routerLink]="['/address/create']" routerLinkActive="router-link-active"  class="btn btn-sm address-btn" (click)="showToast('Add a new address')" >ADD NEW ADDRESS</a>
    
                        </div>

                    </div>

                    
                    <div class="alert alert-danger mb-0 mt-2" *ngIf="errorMessage$ | async as errorMessage">
                        Error: {{errorMessage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                                <!-- <div class="d-flex">
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                    <p class="card-text ms-3">{{currentUser ? currentUser.addresses[0].street : undefined }} {{currentUser ? ' ,' + currentUser.addresses[0].city : undefined }}{{currentUser ? ". " + currentUser.addresses[0].state : undefined }} {{currentUser ? ' , ' + currentUser.addresses[0].country : undefined }} </p>
                                </div> -->

