.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 6rem auto;

}

.address-btn {
    background-color: #f68b1e;
    color: white;
    padding: 0.7rem; 
    font-weight: 700;
    box-shadow: 1px 1px 2px  rgb(55, 55, 55);
}

.address-btn:hover {
    background-color: #fd9c3b;
    transform: scale(1.05);
    transition: all .2s;
}

.address-btn:active {
    border: 2px solid #f68b1e;
    background-color: white;
    box-shadow: none;
}

.add-address {
    background-color: #f68b1e;
    color: white;
    padding: 0.4rem; 
    font-weight: 500;
    box-shadow: 1px 1px 2px  rgb(55, 55, 55);
}

.add-address:hover {
    background-color: #fd9c3b;
    transform: scale(1.05);
    transition: all .2s;
}

.add-address:active {
    border: 1px solid #f68b1e;
    background-color: white;
    box-shadow: none;
}

.button:active {
    border: 1px solid #f68b1e;
    background-color: white;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: rgba(84, 83, 83, 0.968);
    font-size: 0.95rem;
    margin-bottom: 3px;
    cursor: pointer;
}

.title {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    color: rgba(65, 65, 65, 0.985);
    font-weight: 700;
}

.active {
    color: #f68b1e;
}
  
.edit-btn {
    font-size: 1.15rem;
    color: #f68b1e;
}

@media (min-width: 768px) and (max-width: 1020px) {
    .location {
        width: 100% !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .align-2 {
        padding: 0 !important;
        margin-top: 1rem !important;    
    }

    .align {
        margin-right: 0 !important;
    }

    .styling {

        padding: 0.5rem 4rem 1rem 4rem !important;
    }

}

@media (max-width: 577px) {
    .heading {
        font-size: 1.4rem !important;
    }

    .styling {
        padding: 0.5rem 2rem 1rem 2rem !important;
        margin-bottom: 1rem !important;
    }

    .menu { margin-bottom: 0 !important; }

    .location {
        width: 100% !important;
    }

    .row-2 {
        padding: 0 !important;
    }

    .card-body {
        padding: 0.5rem !important;
    }

    .align {
        margin-right: 0 !important;
    }

    .align-2 {
        padding: 0 !important;
        margin-top: 1rem !important;    
    }

    .button {
        font-size: 1rem !important;
        padding: 0rem !important;
    }

    .address {
        padding: 0.4rem 1rem !important;
    }

    .add-address {
        padding: 0.2rem !important;
    }
}