
.order {
    width: 30%;
}

/* 967-945 */
@media (min-width: 768px) and (max-width: 946px) {
    .display {
        width: 50% !important;
    }

    .item-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 577px) {
    /* .fluid-container {
        padding: 0 1.3rem !important;
    } */

    .card-body {
        font-size: 0.9rem !important;
    }

    .display {
        width: 50% !important;
    }

    .item-container {
        flex-direction: column;
        align-items: flex-start;
    }

    /* .item {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.8rem;
    } */

    .address {
        margin-top: 1rem !important;
    }

}