.img-fluid {
    width: 100%;
    /* height: 37rem; */
    border-radius: 10px;
}

.indicators {
    width: 1rem;
    height: 0.32rem;
    margin-right: 0.7rem;
    background-color: rgba(255, 255, 255, 0.992);
    border: none;
}

.slider {
    margin-top: 70px;
    padding: 2rem;
}


.carousel-inner .active {
    animation: slide-in 2s;
}

.carousel-indicators .active {
    background-color: rgba(90, 90, 175, 0.984);
}

@keyframes slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}




.card:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 2px rgba(202, 199, 199, 0.978);
    cursor: pointer;
}

.card:hover .cart-btn {
    visibility: visible;
    /* outline: orange; */
}

@media (max-width: 577px) {
    .fluid-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .card {
      width: 100% !important;
      margin: 0 0 0.7rem 0 !important;
    }

    .row {
        margin-left: 0 !important;
        padding-right: 0.9rem !important;
    }

    .list-title {
        margin-left: 0.6rem !important;
        padding-left: 0 !important;
        font-size: 1rem !important;
    }

    .page-title { font-size: 1rem !important; }

    .img-fluid {
        height: 12rem !important;
    }

    .slider {
        margin-top: 60px;
        margin-bottom: 0.5rem;
        padding: 0rem;
    }

}

.btn-hover {
    position: relative;
    margin-left: inherit;
}

.cart-btn {
    background-color: #f68b1e;
    color: rgba(255, 255, 255, 0.982);
    font-weight: 500;
    width: 95%;
    border-radius: 0.7rem;
    visibility: hidden;
}

.cart-btn:active {
    border: 1px solid #f68b1e;
}




