<div class="fuid-container " style="background-color: rgba(241, 239, 239, 0.879)">
    <div class="col-md-6 ms-5 ps-4">
        <h3>{{pageTitle}}</h3>
    </div>
    <div class="col-md-12 mt-4">
        <div class="row justify-content-center">
            <div class="card me-3 mb-3" style="width: 16rem;" *ngFor="let product of products$ ">
                <img src="/assets/img/250x250_product_66260f401cb2adfd372ed0b8-1713770304255-cover.jpeg" [style.width.px]="230" class="card-img-top" alt="Products Image">
                <!-- <div class="card-img-top w-75 ms-auto me-auto"> -->
                    
                    <div class="col">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="h6"><strong>${{product.highPrice}} - ${{product.lowPrice}}</strong></p>
                        <div class="m-0">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                <!-- </div> -->
            </div>


            <div class="col-md-6" *ngFor="let product of products$">
                <img src="/assets/img" [style.width.px]="500" class="img-fluid" alt="tall person">

            </div>






            <!-- <div class="display ms-3" style="background-color: white; max-height: min-content;">
                <div class="col w-75 ms-auto me-auto">
                    <div class="col">
                        <img src="../../assets/img/slide_4.jpg" class="card-img-top" alt="Products image">
                    </div>
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="h6"><strong>$20.04 - $25.00</strong></p>
                        <div class="m-0">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="display ms-3" style="background-color: white; max-height: min-content;">
                <div class="col w-75 ms-auto me-auto">
                    <div class="col">
                        <img src="../../assets/img/slide_4.jpg" class="card-img-top" alt="Products image">
                    </div>
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="h6"><strong>$20.04 - $25.00</strong></p>
                        <div class="m-0">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display ms-3" style="background-color: white; max-height: min-content;">
                <div class="col w-75 ms-auto me-auto">
                    <div class="col">
                        <img src="../../assets/img/slide_4.jpg" class="card-img-top" alt="Products image">
                    </div>
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="h6"><strong>$20.04 - $25.00</strong></p>
                        <div class="m-0">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display ms-3" style="background-color: white; max-height: min-content;">
                <div class="col w-75 ms-auto me-auto">
                    <div class="col">
                        <img src="../../assets/img/slide_4.jpg" class="card-img-top" alt="Products image">
                    </div>
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="h6"><strong>$20.04 - $25.00</strong></p>
                        <div class="m-0">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
            
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

