a {
    text-decoration: none;
    color: rgba(84, 83, 83, 0.968);
    font-size: 0.95rem;
    margin-bottom: 3px;
    cursor: pointer;
}
  
.title {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    color: rgba(65, 65, 65, 0.985);
    font-weight: 700;
}
  
.active {
    color: #f68b1e;
}  

.button-delete {
    padding: 0.2rem;
    background-color: white;
    align-self: flex-start;
}

.button-delete:hover {
    /* padding: 2px; */
    background-color: #ffdfc0;
}


textarea {
    outline: 0.2px solid rgba(222, 222, 222, 0.995);
    padding: 0.6rem;
}

textarea:focus {
    outline: 1px solid #f68b1e;
    border: none;
    box-shadow: none;
}
/* 1130 */


@media (min-width: 577px) and (max-width: 1131px) {
  .flex-direction {
    flex-direction: column !important;
  }

  .button-delete {
    /* padding: 0.2rem !important; */
    color: white !important;
    background-color: #f68b1e !important;

  }
  
  .font {
    font-size: 0.85rem !important;
  }
}

@media (max-width: 577px) {
  .heading {
      font-size: 1.3rem !important;
  }

  .styling {
    padding: 0 1.15rem 1.15rem 1.15rem !important;
    margin-bottom: 1rem !important;
  }

  .menu { margin-bottom: 0 !important; }

  .row-1 {
      padding: 0 2rem !important;
  }

  .align {
      margin-right: 0 !important;
  }

  .align-2 {
      padding: 0 !important;
      margin-top: 1rem !important;    
  }

  .button {
      font-size: 1rem !important;
      padding: 0rem !important;
  }

  .form {
    margin-bottom: 0.5rem !important;
  }

  .address-btn {
    font-size: 0.9rem !important;
    padding: 0.4rem !important;
  }

  /* .flex-direction {
    flex-direction: column !important;
  } */

  .img-fluid {
    width: 28% !important;
  }

  .button-delete {
    padding: 2px !important;
    color: white !important;
    background-color: #f68b1e !important;

  }

  .font {
    font-size: 0.75rem !important;
  }

}

@media (max-width: 470px) {
  .flex-direction {
    flex-direction: column !important;
  }

  .button-delete {
    /* padding: 0.3rem !important; */
  }

  .font {
    font-size: 0.85rem !important;
  }
  
}





  
