a {
    text-decoration: none;
    color: rgba(84, 83, 83, 0.968);
    font-size: 0.95rem;
    margin-bottom: 3px;
    cursor: pointer;
}
  
.title {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    color: rgba(65, 65, 65, 0.985);
    font-weight: 700;
}
  
.active {
    color: #f68b1e;
}  

.button-delete {
    padding: 0.5rem;
    background-color: white;
    align-self: flex-start;
}

.button-delete:hover {
    /* padding: 2px; */
    background-color: #ffdfc0;
}


textarea {
    outline: 0.2px solid rgba(222, 222, 222, 0.995);
    padding: 0.6rem;
}

textarea:focus {
    outline: 1px solid #f68b1e;
    border: none;
    box-shadow: none;
}








  
