<!-- <div class="m-0">
    <span class="material-icons">grade</span>
    <span class="material-icons">grade</span>
    <span class="material-icons">grade</span>
    <span class="material-icons">grade</span>
    <span class="material-icons">grade</span>
</div> -->







<div class="rating">
    <div class="rating-average">
        <div class="star-outer">
            <div class="star-inner" [style.width.%]="getPartialStarWidths()">
            </div> 
        </div>
    </div>
</div>






<!-- <div class="star-rating" (mouseleave)="resetHover()">
  <ng-container *ngFor="let star of stars; let index = index">
    <span
      class="star"
      [class.filled]="star <= rating"
      [class.half-filled]="star > rating && star - 1 < rating"
      (click)="setRating(star)"
      (mouseover)="setHoverRating(star)">
      &#9733;
    </span>
  </ng-container>
</div> -->




