.detail {
    margin-top: 2rem;
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}



.rating {
    background-color: rgba(235, 232, 232, 0.974);
    padding: 1.5rem ;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    align-self: center;
}

.rating-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.star {
    margin-bottom: 0;
    color: gold;
    font-size: 1.2rem;
}

.content {
    background-color: rgba(225, 221, 221, 0.974);
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.modal-content .btn-close:focus,
.modal-content .btn-close:active {
    outline: none;
}

.similar:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 2px rgba(202, 199, 199, 0.978);
    cursor: pointer;
}

.btn-hover {
    position: relative;
    margin-left: inherit;
}

.cart-btn {
    background-color: orange;
    color: rgba(255, 255, 255, 0.982);
    width: 95%;
    border-radius: 0.7rem;
    visibility: hidden;
}

.similar:hover .cart-btn {
    visibility: visible;
}

.selected {
    border: 1px solid red;
}

.material-icons {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.981);
    background-color: rgba(218, 216, 216, 0.993);
}

.button {
    padding: 0;
    border: none;
}

.options {
    margin: 0 1.5rem;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.977);
}

.navigateTo {
    border-radius: 0;
    padding: 1rem 0;
    width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
}
