.rating {
    background-color: rgba(238, 238, 238, 0.977);
    padding: 1.5rem ;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    align-self: center;
}

.rating-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.star {
    margin-bottom: 0;
    color: gold;
    font-size: 1.2rem;
}

.progress-bar {
    transition: width 0.6s ease;
  }
  

.content {
    /* background-color: rgba(238, 238, 238, 0.977); */
    background-color: rgba(237, 237, 237, 0.98);
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.modal-content .btn-close:focus,
.modal-content .btn-close:active {
    outline: none;
}



.related:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 2px rgba(202, 199, 199, 0.978);
    cursor: pointer;
}

.related:hover .cart-btn {
    visibility: visible;
}

.btn-hover {
    position: relative;
    margin-left: inherit;
}

.cart-btn {
    background-color: #f68b1e;
    color: rgba(255, 255, 255, 0.982);
    font-weight: 500;
    width: 95%;
    border-radius: 0.7rem;
    visibility: hidden;
}

.cart-btn:active {
    border: 1px solid #f68b1e;
}

@media (max-width: 767px) {
    .related-product {
        padding: 0 !important;
        /* padding-right: 0 !important; */
        /* margin-bottom: 0.5rem !important; */
    }

    .related-product .card-text {
        padding-left: 3rem !important;
    }

    .detail {
        padding: 2rem !important;
    }
}

@media (max-width: 577px) {
    .related {
        width: 100% !important;
        padding: 0.5rem !important;
        margin: 0 0rem 0.7rem 0rem !important;
    }

    .row {
        padding: 0 0.8rem !important;
    }

    .detail {
        padding: 2rem !important;
    }

    .detail-title {
        margin-bottom: 0;
        margin-top: 0.3rem;
        font-size: 0.9rem !important;
    }

    .card-text {
        font-size: 1rem !important;
    }

    .detail-align {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-bottom: 0.5rem !important;
    }

    .detail-description, .price {
        font-size: 0.83rem !important;
    }
    
}


