.detail {
    margin-top: 4.3rem;
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}



.rating {
    background-color: rgba(235, 232, 232, 0.974);
    padding: 1.5rem ;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    align-self: center;
}

.rating-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.star {
    margin-bottom: 0;
    color: gold;
    font-size: 1.2rem;
}

.content-body {
    background-color: rgba(225, 221, 221, 0.974);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-content .btn-close:focus,
.modal-content .btn-close:active {
    outline: none;
}

.similar:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 2px rgba(202, 199, 199, 0.978);
    cursor: pointer;
}

.btn-hover {
    position: relative;
    margin-left: inherit;
}

.cart-btn {
    background-color: orange;
    color: rgba(255, 255, 255, 0.982);
    width: 95%;
    border-radius: 0.7rem;
    visibility: hidden;
}

.similar:hover .cart-btn {
    visibility: visible;
    /* outline: orange; */

}
