
a {
    text-decoration: none;
    color: rgba(84, 83, 83, 0.968);
    font-size: 0.95rem;
    margin-bottom: 3px;
    cursor: pointer;
}

.title {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    color: rgba(65, 65, 65, 0.985);
    font-weight: 700;
}

input {
    outline: 0.2px solid rgba(222, 222, 222, 0.995);
    padding: 0.6rem;
}

input:focus {
    outline: 2px solid #f68b1e;
    box-shadow: none;
    border: none;
}

input:autofill {
    /* -webkit-box-shadow: 0 0 0 1000px white inset !important; */
    box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
}
  

.is-invalid {
    border-color: red;
}

.invalid-feedback {
color: red;
display: block;
}

.button {
    /* background-color: #33b27b;  */
    background-color: #f68b1e; 
    color: white; 
    border-radius: 5px; 
    padding: 0.5rem 1rem; 
    border: none;
    width: 100%;
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.button:active {
    border: 2px solid #f68b1e;
}

.active {
    color: #f68b1e;
}

@media (max-width: 577px) {
    .heading {
        font-size: 1.3rem !important;
    }
    
    .styling {
        padding: 0 1.15rem 1.15rem 1.15rem !important;
        margin-bottom: 1rem !important;
    }

    .menu { margin-bottom: 0 !important; }

    .row {
        padding: 0 2rem !important;
    }

    .align {
        margin-right: 0 !important;
    }

    .align-2 {
        padding: 0 !important;
        margin-top: 1rem !important;
    }

    .button {
        font-size: 1rem !important;
        padding: 0.5rem !important;
    }
}
  