<div class="fluid-container" style="background-color: rgba(234, 234, 234, 0.982); margin-top: 4rem;"  >
    <div >
        <div class="styling" style="background-color: white; margin-bottom: 2rem; padding: 1rem 4rem;">
            <div class="menu d-flex mb-2">
                <a class="d-flex " [routerLink]="['/products']" >
                    <p class="mb-0" style="color: rgba(54, 54, 54, 0.995); font-family:sans-serif;">Home</p>
                    <span class="material-icons" style="font-size: 1.3rem; color: rgba(168, 168, 168, 0.985);">
                        navigate_next
                    </span>
                </a>
                <a class="d-flex">
                    <p class="mb-0" style="color: black; font-family:sans-serif;">My Account</p>
                    <span class="material-icons" style="font-size: 1.3rem; color: rgba(168, 168, 168, 0.985);">
                        navigate_next
                    </span>
                </a>
                <a [routerLink]="['/user/profile']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" class="d-flex">
                    <p class="mb-0" style="color: black; font-family:sans-serif;">My Profile</p>
                </a>
            </div>
            <h3 class="heading fw-bold mb-0">
                Account Information
            </h3>
        </div>
        <div class="row justify-content-center" style="padding: 0 2rem;">

            <div class="col-md-3 col-sm-3 align p-2 me-3" style="background-color: white; border-radius: 6px; height: max-content;" >
                <div class="d-flex " >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            account_circle
                        </span>
                    </div>
                    <div>
                        <p class="title" >My Profile</p>
                        <div>
                            <a [routerLink]="['/user/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Account Information</a>
                        </div>
                        <div [routerLink]="['/user/address']" ><a >Delivery Address</a></div>
                    </div>
                </div>
                <hr style="color: rgba(132, 131, 131, 0.985);">
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            shopping_bag
                        </span>
                    </div>
                    <div>
                        <p class="title" >My Orders</p>
                        <div><a [routerLink]="['/order/history']">Order History</a></div>
                        <div><a href="">Pending Ratings</a></div>
                    </div>
                </div>
                <hr style="color: rgba(132, 131, 131, 0.985);">
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            account_balance_wallet
                        </span>
                        
                    </div>
                    <div>
                        <p class="title" >My Wallet</p>
                        <div class="profile"><a href="">Wallet</a></div>
                    </div>
                </div>
                <hr style="color: rgba(132, 131, 131, 0.985);">
                <div class="d-flex" >
                    <div class="me-3">
                        <span class="material-symbols-outlined" style="font-size: 1.9rem;">
                            person_cancel
                        </span>
                    </div>
                    <div>
                        <p class="title" >Delete Account</p>
                        <div class="profile"><a href="">Delete Account</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-sm-7 align-2" style="position: relative;">
                <div style="background-color: white; border-radius: 6px;" >
            <app-spinner></app-spinner>
                    <h5 class="mb-0 p-3">Account Information</h5>
                    <hr style="color: rgba(123, 122, 122, 0.985); margin: 0;">

                    <div style="padding: 1rem 2rem; margin-bottom: 4rem;">
                        <form novalidate autocomplete="off" [formGroup]="profileForm" (ngSubmit)="update()" >
                            <div class="col-md-12 mb-4">
                                <label for="firstNameId" class="form-label mb-2">First Name</label>
                                <input type="text" class="form-control" id="firstNameId" formControlName="firstName" placeholder="Enter your First Name"
                                [ngClass]="{ 'is-invalid': (profileForm.controls['firstName'].touched || profileForm.controls['firstName'].dirty) && !profileForm.controls['firstName'].valid }" >

                                <div *ngIf="(profileForm.controls['firstName'].touched || profileForm.controls['firstName'].dirty)  && !profileForm.controls['firstName'].valid">
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['firstName'].errors?.['required']">
                                      <em>Please enter first name</em>
                                    </span>
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['firstName'].errors?.['minlength']">
                                        First name must be more than 3 characters
                                    </span>
                                </div>

                            </div>

                            <div class="col-md-12 mb-4">
                                <label for="lastNameId" class="form-label mb-2">Last Name</label>
                                <input type="text" class="form-control" id="lastNameId" formControlName="lastName" placeholder="Enter your Last Name"
                                [ngClass]="{ 'is-invalid': (profileForm.controls['lastName'].touched || profileForm.controls['lastName'].dirty) && !profileForm.controls['lastName'].valid }" >

                                <div *ngIf="(profileForm.controls['lastName'].touched || profileForm.controls['lastName'].dirty)  && !profileForm.controls['lastName'].valid">
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['lastName'].errors?.['required']">
                                      <em>Please enter last name</em>
                                    </span>
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['lastName'].errors?.['maxlength']">
                                        Last name must not be more than 20 characters
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-4">
                                <label for="emailId" class="form-label mb-2">Email</label>
                                <input type="email" class="form-control" id="emailId" formControlName="email" placeholder="Enter your Email Address"
                                [ngClass]="{ 'is-invalid': (profileForm.controls['email'].touched || profileForm.controls['email'].dirty) && !profileForm.controls['email'].valid }" >

                                <div *ngIf="(profileForm.controls['email'].touched || profileForm.controls['email'].dirty)  && !profileForm.controls['email'].valid">
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['email'].errors?.['required']">
                                      <em>Please enter email address</em>
                                    </span>
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['email'].errors?.['email']">
                                        Please enter valid email address
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-4">
                                <label for="phoneId" class="form-label mb-2">Phone</label>

                                <input type="number" 
                                    class="form-control" 
                                    id="phoneId" 
                                    formControlName="phone" 
                                    placeholder="Enter your Phone Number"
                                    [ngClass]="{ 'is-invalid': (profileForm.controls['phone'].touched || profileForm.controls['phone'].dirty) && !profileForm.controls['phone'].valid }" >

                                <div *ngIf="(profileForm.controls['phone'].touched || profileForm.controls['phone'].dirty)  && !profileForm.controls['phone'].valid">
                                    <span class="invalid-feedback" *ngIf="profileForm.controls['phone'].errors?.['required']">
                                      <em>Please enter phone number</em>
                                    </span>
                                </div>
                            </div>

                            <div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
                                Error: {{errorMessage}}
                            </div>
                            
                            <button class="btn button" type="submit" [disabled]="!profileForm.valid || profileForm.pristine" >Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    
</div>