<div class="fluid-container" style="background-color: rgba(240, 239, 239, 0.879);">
  <div class="navBar navBar-expand" style="background-color: white;">
    <div class="row nav pb-2">
      <div class="col-md-6">
        <div class="navBar-brand mt-2 ms-5">
          <img src="../assets/img/apple-touch-icon.png" class="image me-3" alt="Brand">
          <span class="col-md-2">
            <strong class="h2 fst-italic">Jossy</strong>
          </span>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <input type="text" placeholder="Search Products" class="search mt-2">
        <button class="btn search-btn" type="button">
          <i class="material-symbols-outlined">search</i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-11 p-4 ms-auto me-auto" >
    <div id="carouselid" class="carousel slide" data-ride="carousel" data-pause="false">
      <div class="carousel-indicators ">
          <button type="button" data-target="#carouselid" data-slide-to="0" class="active size" ></button>
          <button type="button" data-target="#carouselid" data-slide-to="1" class="size"></button>
          <button type="button" data-target="#carouselid" data-slide-to="2" class="size"></button>
          <button type="button" data-target="#carouselid" data-slide-to="3" class="size"></button>
          <button type="button" data-target="#carouselid" data-slide-to="4" class="size"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" > 
            <img src="../../assets/img/slide_1.jpg" class="img-fluid" alt="Slide Logo">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide_2.jpg" class="img-fluid" alt="Slide Logo">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide_3.jpg" class="img-fluid" alt="Slide Logo">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide_4.jpg" class="img-fluid" alt="Slide Logo">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide_5.jpg" class="img-fluid" alt="Slide Logo">
        </div>
      </div>   
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
