<div class="navBar navBar-expand">
  <div class="fluid-container mb-2">
    <div class="row nav">
      <div class="col-md-6">
        <div class="navBar-brand mt-2 ms-5">
          <img src="../assets/img/apple-touch-icon.png" class="image me-3" alt="Brand">
          <span class="col-md-2">
            <strong class="h2 fst-italic">Jossy</strong>
          </span>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <input type="text" placeholder="Search Products" class="search mt-2">
        <button class="btn search-btn" type="button">
          <i class="material-symbols-outlined">search</i>
        </button>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
