<span class="spinner spinner-border"
        *ngIf="loading" style="margin-top: 5rem;">
</span>
  <nav class="navBar navBar-expand fixed-top" style="background-color: white;">
    <div class="nav pt-2 pb-2 ps-3 pe-3 d-flex align-items-center justify-content-between">
      <!-- col-md-2 -->
      <div class=" brand-sizing">
        <div class="navBar-brand"
              [routerLink]="['/products']" >
          <img src="../assets/products/apple-touch-icon.png" class="image" alt="Brand">
          <span class="col-md-2" style="cursor: pointer;">
            <strong class="h2 fst-italic">Jossy</strong>
          </span>
        </div>
      </div>
      <!-- col-md-7 -->
      <div class=" input ">
        <div class="search-container d-flex justify-content-center ">
          <input type="text" placeholder="Search Products" class="search">
          <button class="btn search-btn" type="button">
            <span class="material-icons material-icon">
              search
              </span>
            <!-- <i class="material-symbols-outlined">search</i> -->
          </button>
        </div>
      </div>
      <div class=" p-0" style="width: max-content;">
        <div class="dropdown">
          <div class="account" [ngClass]="{'clicked': isClicked}" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrow()">
            <span class="material-icons user-btn-icon">{{ isLoggedIn ? 'person' : 'person_outline' }}
            </span>
            <button class="btn user-btn " type="button" >{{ isLoggedIn ? 'Hi, ' + user?.firstName : 'Account' }}</button>

            <span class="material-icons ms-1">{{ isClicked ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
          </div>        

          <!-- <div class="account" [ngClass]="{'clicked': isClicked}" *ngIf="isLoggedIn" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrow()">
            <span class="material-icons me-1" style="font-size: 29px; ">person
            </span>
            <button class="btn p-0 fw-semibold" style="font-size: 1.1rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-style: italic;" type="button" >{{ 'Hi, ' + (user?.firstName ||"" )}}</button>

            <span class="material-icons ms-1">{{ isClicked ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
          </div>  -->

          <!-- <div class="account" [ngClass]="{'clicked': isClicked}" *ngIf="!isLoggedIn" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrow()">
            <span class="material-icons me-1" style="font-size: 29px; ">person_outline
            </span>
            <button class="btn p-0 fw-semibold" style="font-size: 1.1rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-style: italic;" type="button" >Account</button>

            <span class="material-icons ms-1">{{ isClicked ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
          </div>  -->
          
          <ul class="dropdown-menu dropdown-menu-light p-0" style="width: 200px; box-shadow: 1px 2px 6px rgba(132, 132, 132, 0.974);">
            <div class="p-2" 
            [routerLink]="['/user/login']" 
            [routerLinkActiveOptions]="{exact: true}" routerLinkActive="router-link-active" 
            *ngIf="!isLoggedIn" >
              <button class="btn " style="background-color: #f68b1e; padding: 10px; color: white; width: 100%;">SIGN IN</button>
            </div>

            <li *ngIf="!isLoggedIn"><hr class="dropdown-divider m-0"></li>

            <li [routerLink]="['/user/profile']" class="dropdown-item" >
              <div class="d-flex align-items-center" *ngIf="isLoggedIn">
                <span class="material-icons" style="font-size: 25px; ">
                  person_outline
                </span>
                <button class="btn">My Account</button>
              </div>
            </li>

            <li class="dropdown-item">
              <div class="d-flex align-items-center" *ngIf="isLoggedIn" [routerLink]="['/order']" >
                <span class="material-symbols-outlined" style="font-size: 22px; ">
                  storefront
                  </span>
                <button class="btn">Orders</button>
              </div>
            </li>

            <li class="dropdown-item" *ngIf="isLoggedIn">
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined" style="font-size: 22px; ">
                  mail
                </span>
                <button class="btn">Inbox</button>
              </div>
            </li>

            <li class="dropdown-item">
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined" style="font-size: 22px; ">
                  favorite
                </span>
                <button class="btn">Saved items</button>
              </div>
            </li>
            <li class="dropdown-item" *ngIf="isLoggedIn">
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined" style="font-size: 22px; ">
                  credit_card_gear
                </span>
                <button class="btn">Voucher</button>
              </div>
            </li>

            <li *ngIf="isLoggedIn"><hr class="dropdown-divider m-0"></li>

            <div class="p-1"
              *ngIf="isLoggedIn" 
              (click)="logOut()">
              <button class="btn " style="background-color: white; padding: 10px; color: #f68b1e; width: 100%;">LOG OUT</button>
            </div>


          </ul>
        </div>      
      </div>
     
      <div class="col-md-1 cart-sizing p-0">
        <div class="cart" [routerLink]="['/cart']" (click)="showToast('Item(s) found in cart')" >
          <span class="position-relative material-symbols-outlined me-1">
            {{ cartCount > 0 ? 'shopping_cart' : 'shopping_cart_off' }}

            <!-- shopping_cart -->
            <span class="badge"> {{isLoggedIn ? cartCount : 0 }}
              <span class="visually-hidden">New alerts</span>
            </span>
          </span>
          <button class="btn button fw-semibold p-0" type="button">Cart
          </button>
        </div>
      </div>
    </div>    
  </nav>
  <!-- [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''" -->
  <!-- #o="outlet" -->
<div class="fluid-container" >
  <div >
    <router-outlet ></router-outlet>
    <!-- <app-spinner></app-spinner> -->
    <app-toast></app-toast>
  </div>

  <footer class="footer d-flex" align="center" style="font-size: 13px;" [ngClass]="{ 'hidden': isScrolledDown }">
  
    <a class="footer-link" [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="material-icons footer-icon" >
            home
        </i>
        <p class="mb-0">Home</p>
    </a>
    <a class="footer-link" >
        <i class="material-icons footer-icon">
            format_list_bulleted
        </i>
        <p class="mb-0">Category</p>
    </a>
    <a class="footer-link" [routerLink]="['/cart']" routerLinkActive="active" (click)="showToast('Item(s) found in cart')">
        <i class="material-icons footer-icon">
            shopping_cart
        </i>
        <p class="mb-0">Cart</p>
    </a>
    <a class="footer-link" [routerLink]="['/order/history']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showToast('Order history found')">
        <i class="material-icons footer-icon">
            shopping_bag
        </i>
        <p class="mb-0">Order</p>
    </a>
    <a class="footer-link" [routerLink]="['login']" routerLinkActive="active">
        <i class="material-icons footer-icon">
            person
        </i>
        <p class="mb-0">Account</p>
    </a>        
  </footer>


</div>

