.fluid-container {
    /* width: 97rem; */
    overflow: hidden;
}

.image {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1rem;
}

/* .nav {
    display: flex;
} */

.navBar-brand {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0 0 1.5rem;
    /* margin-left: 3rem;
    margin-top: 0.5rem; */
}

/* .search-container {
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    /* display: flex;
    align-items: center; *
}

.search {
    border: none;
    background-color: rgba(238, 238, 238, 0.977);
    width: 43rem;
    margin-top: 0.5rem;
    padding: 0 0.6rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    outline: none;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.search:focus {
    
    /* transform: scale(1.2); Adjust scale factor as needed */
    /* border: 3px solid #f68b1e; *
    border: 2px solid rgb(159, 192, 245);
    background-color: white;
}

.search::placeholder {
    font: inherit;
}


.material-icon {
    font-size: 1.7rem;
    color: rgba(128, 128, 128, 0.997);
    margin-top: 8px;
}


.material-icon:focus {
    color: gray;
    outline: none;
    transform: translateY(1);
    transition: all .2s;
}

.search-btn {
    margin-left: -3.8rem;
    outline: none;

    /* padding: 0.6rem; *
    line-height: 1;
}

.search-btn:focus {
    outline: none;
}

.search:focus ~ .search-btn {
    transform: scale(1.2);
}

.search-container:focus-within {
    transform: scale(1.2);
} */




.search-container {
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    display: flex;
    align-items: center;
}

.search {
    border: none;
    background-color: rgba(238, 238, 238, 0.977);
    width: 37rem; /* Adjust width as needed */
    height: 3rem; /* Explicit height to prevent growing too tall */
    margin-top: 0.5rem;
    padding: 0 0.6rem 0 1rem;
    border-radius: 5rem;
    font-size: 0.85rem;
    outline: none;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform-origin: center;
}

.search:focus {
    border: 2px solid rgb(159, 192, 245);
    background-color: white;
}

.search::placeholder {
    font: inherit;
}

.material-icon {
    font-size: 1.7rem;
    color: rgba(128, 128, 128, 0.997);
    margin-top: 8px;
}

.material-icon:focus {
    color: gray;
    outline: none;
   
}

.search-btn {
    margin-left: -2.5rem;
    outline: none;
    border: none;
    line-height: 1;

    background: none;
    padding: 0;
    transition: transform 0.2s ease-in-out;
}

.search-btn:active {
    transform: translateY(13px);
    /* outline: none;
    border: none; */
}

/* .search-btn:focus .material-icon {
    transform: translateY(10px); /* Translates the icon downwards *
} */

.search:focus ~ .search-btn {
    transform: scale(1.1); /* adjust the icon scaling size. or you can maintai its original size by using 1*/
}

.search-container:focus-within {
    transform: scaleX(1.2); /* Scale horizontally to avoid changing height */
}


.user-btn {
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 0;
    font-weight: 700;
}

.user-btn-icon {
    font-size: 24px;
    margin-right: 0.5rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 250, 250, 0.975);
    transition: transform 0.3s ease-in-out;
  }
  


  .hidden {
    transform: translateY(100%);
  }

  .footer-icon {
    font-size: 1.15rem;
    color: rgba(189, 188, 188, 0.975);
    cursor: pointer;
    margin-top: 0px;
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    width: 20%;
    color: rgba(104, 103, 103, 0.982);
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.3rem;
    cursor: pointer;
  }

  .footer .active {
    color: blue;
  }

 /* Apply the active class styling to the icon */
.footer-link.active .footer-icon {
    color: blue;
}


  /* Spinner */
/* .spinner {
    font-size:300%;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index:10
  }
  
  .fa-spinner {
      -webkit-animation: spin 1000ms infinite linear;
      animation: spin 3000ms infinite linear;
  }
  @-webkit-keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }
  @keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  } */

/*   
.spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */



.account {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: #f68b1e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.account:hover {
    background-color: white;
    color: #f68b1e;
}

.account .btn {
    color: inherit;
    background: none; 
    border: none; 
}

.account.clicked {
    background-color: rgba(208, 207, 207, 0.971);
    color: black;
}

.badge {
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translate(50%, -50%);
    padding: 2px;
    background-color: #f68b1e;
    color: white;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border: 2px solid white;
    height: 1.2rem;
    width: 1.2rem;
    
}

.dropdown-item:active, .dropdown-item .btn:active {
    background-color: rgba(185, 185, 185, 0.974);
    border: none;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
    width: fit-content;
    margin: auto;
}

.cart:hover {
    color: #f68b1e;

}

.cart .btn {
    color: inherit;
    border: none;

}

@media (max-width: 1200px) {
    .search {
        width: 31rem !important;
    }
}

@media (max-width: 1100px) {
    .search {
        width: 26rem !important;
    }
}

@media (max-width: 1005px) {
    .search {
        width: 22rem !important;
    }

    .image {
        width: 2rem !important;
        height: 2rem !important;
        margin-right: 0.5rem;
    }

    .h2 {
        font-size: 1.6rem !important;
    }

    .navBar-brand {
       
        margin: 0 !important;
        /* margin-left: 3rem;
        margin-top: 0.5rem; */
    }

    .account { 
        padding: 0.3rem !important;
        /* background-color: white !important;
        color: black !important; */
    }
}

@media (max-width: 860px) {
    .search {
        width: 15rem !important;
    }

    /* .image {
        width: 2rem !important;
        height: 2rem !important;
        margin-right: 0.5rem;
    } */

    /* .h2 {
        font-size: 1.6rem !important;
    } */

    .navBar-brand {
       
        /* margin: 0.5rem 0 0 0 !important; */
        /* margin-left: 3rem;
        margin-top: 0.5rem; */
    }
}

@media (max-width: 700px) {
    /* .search {
        width: 16rem !important;
    } */

    .input {
        display: none !important;
    }

    .image {
        width: 2rem !important;
        height: 2rem !important;
        /* margin-right: 0.3rem; */
    }

    .account { 
        padding: 2px !important;
        background-color: white !important;
        color: black !important;
    }

    .account.clicked {
        background-color: rgba(208, 207, 207, 0.971) !important;
        color: black !important;
    }

}

@media (max-width: 577px) {

    .input {
        display: none !important;
    }
    
    /* .cart {
        margin: 0 !important;
    } */

    .navBar-brand {
        margin-left: 3px !important;
        align-items: flex-start !important;
    }

    .cart-sizing, .brand-sizing {
        width: fit-content !important;
    }

    .image {
        width: 1.7rem !important;
        height: 1.7rem !important;
        margin-right: 0.3rem !important;
    }

    .user-btn {
        font-size: 1rem !important;
    }

    .h2 {
        font-size: 1.3rem !important;
    }

}




