<div class="container" style="margin-top: 150px;" >
        <div style=" background-color: white; height: 200px; ">
            <div class="mt-3">

                <div class="mt-5" style="background-color: rgba(247, 247, 247, 0.982); width: 13%;">
                    <p>3.7/5</p>
                    <p>verified ratings</p>
                </div>

            </div>
            
        </div>
        <div style="background-color: rgba(208, 86, 86, 0.982); color: rgb(36, 31, 31);">
            <p>3.7/5</p>
            <p>verified ratings</p>
        </div>
</div>
