<div class="fluid-container" style="margin-top: 6rem;">
    <div class="header">
        <span class="material-icons">
            star
        </span>
    </div>
    <div style="margin: 0 auto; width: 32%;">
        <div class="center">
            <h5 class="fw-bold">Welcome to Jossy</h5>
            <p style="color: rgba(84, 83, 83, 0.978);">Let's get started by creating your account. <br>
            To keep your account safe, we need a strong password</p>
        </div>
        <div>
            <form novalidate autocomplete="off" [formGroup]="loginForm" (ngSubmit)="save()">

                <div class="form-floating form-group mb-4">
                    <input type="email"
                        class="form-control" 
                        id="emailId"
                        formControlName="email"
                        placeholder="Email" 
                        [ngClass]="{'is-invalid': (loginForm.controls['email'].touched || loginForm.get('email')?.dirty) && !loginForm.get('email')?.valid }" >

                    <label for="emailId">Email</label>
                    <span class="invalid-feedback">
                        <span *ngIf="loginForm.controls['email']?.errors?.['required']">
                            <em>Please enter your email address</em>
                        </span>
                        <span *ngIf="loginForm.controls['email']?.errors?.['email']">
                          Enter a valid email address
                        </span>
                    </span>
                </div>

                <div class="form-floating form-group mb-4">
                    <input type="password" 
                            class="form-control" 
                            id="passwordId" 
                            formControlName="password" 
                            placeholder="Password" 
                            [ngClass]="{'is-invalid': (loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && !loginForm.controls['password'].valid }" >

                    <label for="passwordId">Password</label>

                    <span class="invalid-feedback">
                        <span *ngIf="loginForm.controls['password'].errors?.['required']">
                            <em>Please enter your password</em>
                        </span>
                        <span *ngIf="loginForm.controls['password'].errors?.['minlength']">
                          Password must be more than 8 characters
                        </span>
                    </span>
                </div>

                <div class="button">
                    <button class="btn fw-bold w-100 p-3" type="submit" [disabled]="!loginForm.valid" style="color: white; font-size: 1rem; border: none;">Continue</button>
                </div>
            </form>

            <p class="text-center mt-3">For further support, you may visit the Help Center or contact our customer service team.</p>
                
            <div class="header d-flex align-items-center mt-4">
                <h5 class="mb-0 fw-bold me-1">JOSSY</h5>
                <span class="material-icons icon">star</span>
            </div>
            <p class="text-center mt-4">Don't have an account? <a [routerLink]="['/signUp']" routerLinkActive="router-link-active" >Sign Up</a></p>
        </div>
    </div>
</div>