<div class="fluid-container" style="margin-top: 5.7rem;">
    <app-spinner></app-spinner>

    <div class="background">
        <div class="header">
            <span class="material-icons">
                star
            </span>
        </div>
        <div class="container">
            <div class="center">
                <h5 class="fw-bold fs-4">Welcome to Jossy</h5>
                <p class="text" style="color: rgba(84, 83, 83, 0.978); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-bottom: 0; ">Let's get started by creating your account. <br>
                To keep your account safe, we need a strong password</p>
            </div>
            <div>
                <form novalidate autocomplete="off" [formGroup]="loginForm" (ngSubmit)="save()">
    
                    <div class="form-floating form-group mb-3">
                        <input type="email"
                            class="form-control" 
                            id="emailId"
                            formControlName="email"
                            placeholder="Enter Your Email" 
                            [ngClass]="{'is-invalid': (loginForm.controls['email'].touched || loginForm.get('email')?.dirty) && !loginForm.get('email')?.valid }" >
    
                        <label for="emailId">Email</label>
                        
                        <div *ngIf="(loginForm.controls['email'].touched || loginForm.controls['email'].dirty)  && !loginForm.controls['email'].valid">
                            <span class="invalid-feedback" *ngIf="loginForm.controls['email'].errors?.['required']">
                              <em>Please enter your email</em>
                            </span>
                            <span class="invalid-feedback" *ngIf="loginForm.controls['email'].errors?.['email']">
                               Please enter a valid email
                            </span>
                        </div>    
                    </div>
    
                    <div class="form-floating form-group mb-3">
                        <input type="password" 
                                class="form-control" 
                                id="passwordId" 
                                formControlName="password" 
                                placeholder="Enter Your Password" 
                                [ngClass]="{'is-invalid': (loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && !loginForm.controls['password'].valid }" >
    
                        <label for="passwordId">Password</label>
    
                        <div *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty)  && !loginForm.controls['password'].valid">
                            <span class="invalid-feedback" *ngIf="loginForm.controls['password'].errors?.['required']">
                              <em>Please enter your password</em>
                            </span>
                            <span class="invalid-feedback" *ngIf="loginForm.controls['password'].errors?.['minlength']">
                                Password must be more than 8 characters
                            </span>
                        </div>    
                    </div>
                    <div *ngIf="errorMessage$ | async as errorMessage" style="color: red;">{{errorMessage}}</div>
    
                    <div class="button">
                        <button class="btn fw-bold w-100 p-3" type="submit" [disabled]="!loginForm.valid" style="color: white; font-size: 1rem; border: none;">Continue</button>
                    </div>
                </form>
    
                <p class="terms text-center mt-3 mb-3" style="font-size: 0.8rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">By continuing you agree to Jossy's <br> <a href="javascript:void(0)">Terms and Conditions</a></p>
    
                <p class="enquiry text-center mt-2" style="font-size: 0.93rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">For further support, you may visit the Help Center or contact our customer service team.</p>
                    
                <div class="header d-flex align-items-center">
                    <h5 class="mb-0 fw-bold me-1" >JOSSY</h5>
    
                    <span class="material-icons icon">star</span>
                </div>
                <p class="signup text-center mt-0" style="font-size: 0.9rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Don't have an account? <a [routerLink]="['/user/signup']" routerLinkActive="router-link-active" >Sign Up</a></p>
            </div>
        </div>

    </div>
</div>