.background {
    background-color: white;
    width: 52%; 
    margin: 0 auto 4rem auto;
    border-radius: 13px;
    padding: 10px;
}

.header {
    margin: 1rem auto;
    width: fit-content;
    /* margin-bottom: 1rem; */
}

.material-icons {
    border-radius: 50%;
    font-size: 4rem;
    background-color: #f68b1e;
    color: white;
    padding: 0;
    text-align: center;
    padding: 2px;
}

.center {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}


.form-control {
    /* padding: 0.75rem; */
}

input {
    /* outline: 0.3px solid rgb(123, 123, 123); */
    outline: 0.2px solid rgba(222, 222, 222, 0.995);
}


input:focus {
    outline: 1px solid #f68b1e;
    box-shadow: none;
    border: none;

}


input:autofill {
    /* -webkit-box-shadow: 0 0 0 1000px white inset !important; */
    box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
}

.gender {
    border: none;
    outline: 2px solid rgba(222, 222, 222, 0.995);
    padding: 0.75rem;
    width: 100%;
    border-radius: 7px;
}

.is-invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    color: red;
    display: block;
  }

.button {
    background-color: #f68b1e; 
    text-align: center; 
    margin-top: 1.3rem; 
    padding: 0.5rem;
    border-radius: 4px;
}

.icon {
    border-radius: 100%;
    font-size: 1rem;
    background-color: #f68b1e;
    color: white;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #f68b1e; 
}

label {
    color: rgba(84, 83, 83, 0.978);
}

.form-floating:focus-within label {
    color: #f68b1e;
}

@media(max-width: 906px)  {
    /* .background {
        width: 60% !important;
    } */

    /* .material-icons {
        font-size: 1rem !important;
    } */

    /* .icon {
        font-size: 1rem !important;
    } */
}

@media(max-width: 906px)  {
    .background {
        width: 70% !important;
    }
    
    .material-icons {
        font-size: 3rem;
    }

    .icon {
        font-size: 1rem;
    }
}

@media(max-width: 676px)  {
    .background {
        width: 80% !important;

    }

    .text {
        font-size: 0.95rem !important;
    }

    .terms {
        font-size: 0.7rem !important;
    }

    .enquiry {
        font-size: 0.8rem !important;
    }

    .login {
        font-size: 0.78rem !important;
    }
    
}

@media(max-width: 577px)  {
    .background {
        width: 100% !important;


    }
    
}

@media(max-width: 417px)  {
   
    .text {
        font-size: 0.83rem !important;
    }
}