<div class="fluid-container" style="margin-top: 6rem;">
    <div class="header">
        <span class="material-icons">
            star
        </span>
    </div>
    <div style="margin: 0 auto; width: 32%;">
        <div class="center">
            <h5 class="fw-bold">Create your acount</h5>
            <p style="color: rgba(84, 83, 83, 0.978);">Let's get started by creating your account. <br>
            To keep your account safe, we need a strong password</p>
        </div>
        <div>
            <form novalidate autocomplete="off" [formGroup]="signUpForm" (ngSubmit)="save()" >
                <div class="form-floating form-group mb-4">
                    <input type="text"
                        class="form-control"
                        id="fullNameId"
                        formControlName="fullName"
                        placeholder="User Name" 
                        [ngClass]="{'is-invalid': (signUpForm.controls['fullName'].touched || signUpForm.get('fullName')?.dirty) && !signUpForm.get('fullName')?.valid }" >

                    <label for="fullNameId">Full Name</label>

                    <!-- <span class="invalid-feedback">
                        <span *ngIf="signUpForm.controls['fullName']?.errors?.['required']">
                            <em>Please enter your full name</em>
                        </span>
                        <span *ngIf="signUpForm.controls['fullName']?.errors?.['minlength']">
                          Name must be longer than 3 characters
                        </span>
                    </span> -->

                    <div *ngIf="(signUpForm.controls['fullName'].touched || signUpForm.controls['fullName'].dirty)  && !signUpForm.controls['fullName'].valid">
                        <span class="invalid-feedback" *ngIf="signUpForm.controls['fullName'].errors?.['required']">
                          <em>Please enter your full name</em>
                        </span>
                        <span class="invalid-feedback" *ngIf="signUpForm.controls['fullName'].errors?.['minlength']">
                            Full name must be more than 3 characters
                        </span>
                    </div>
                </div>

                <div class="form-floating form-group mb-4">
                    <input type="email"
                        class="form-control" 
                        id="emailId"
                        formControlName="email"
                        placeholder="Email" 
                        [ngClass]="{'is-invalid': (signUpForm.controls['email'].touched || signUpForm.get('email')?.dirty) && !signUpForm.get('email')?.valid }" >

                    <label for="emailId">Email</label>
                    <!-- <span class="invalid-feedback">
                        <span *ngIf="signUpForm.controls['email']?.errors?.['required']">
                            <em>Please enter your email address</em>
                        </span>
                        <span *ngIf="signUpForm.controls['email']?.errors?.['email']">
                          Enter a valid email address
                        </span>
                    </span> -->

                    <div *ngIf="(signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty)  && !signUpForm.controls['email'].valid">
                        <span class="invalid-feedback" *ngIf="signUpForm.controls['email'].errors?.['required']">
                            <em>Please enter your email</em>
                        </span>
                        <span class="invalid-feedback" *ngIf="signUpForm.controls['email'].errors?.['email']">
                            Please enter a valid email address
                        </span>
                    </div>
                </div>

                <div formGroupName="passwordGroup">
                    <!-- Password Field -->
                    <div class="form-floating form-group mb-4">
                      <input type="password"
                        class="form-control"
                        id="passwordId"
                        formControlName="password"
                        placeholder="Password"
                        [ngClass]="{'is-invalid': (signUpForm.get('passwordGroup.password')?.touched || signUpForm.get('passwordGroup.password')?.dirty) && !signUpForm.get('passwordGroup.password')?.valid }">
                      <label for="passwordId">Password</label>
                      <div *ngIf="(signUpForm.get('passwordGroup.password')?.touched || signUpForm.get('passwordGroup.password')?.dirty) && !signUpForm.get('passwordGroup.password')?.valid">
                        <span class="invalid-feedback" *ngIf="signUpForm.get('passwordGroup.password')?.errors?.['required']">
                          <em>Please enter your password</em>
                        </span>
                        <span class="invalid-feedback" *ngIf="signUpForm.get('passwordGroup.password')?.errors?.['minlength']">
                          Password must be more than 8 characters
                        </span>
                      </div>
                    </div>
                
                    <!-- Confirm Password Field -->
                    <div class="form-floating form-group mb-4">
                      <input type="password"
                        class="form-control"
                        id="confirmPasswordId"
                        formControlName="confirmPassword"
                        placeholder="Confirm Password"
                        [ngClass]="{'is-invalid': (signUpForm.get('passwordGroup.confirmPassword')?.touched || signUpForm.get('passwordGroup.confirmPassword')?.dirty) && (!signUpForm.get('passwordGroup.confirmPassword')?.valid || signUpForm.get('passwordGroup')?.errors?.['passwordMismatch']) }">
                      <label for="confirmPasswordId">Confirm Password</label>

                      <div *ngIf="(signUpForm.get('passwordGroup.confirmPassword')?.touched || signUpForm.get('passwordGroup.confirmPassword')?.dirty) && !signUpForm.get('passwordGroup.confirmPassword')?.valid">
                        <span class="invalid-feedback" *ngIf="signUpForm.get('passwordGroup.confirmPassword')?.errors?.['required']">
                          <em>Please confirm password</em>
                        </span>
                        <span class="invalid-feedback" *ngIf="signUpForm.get('passwordGroup')?.errors?.['passwordMismatch']">
                          The confirmation password does not match
                        </span>
                      </div>
                    </div>
                </div>

                <div class="form-floating form-group mb-4">
                    <input type="number" 
                            class="form-control" 
                            id="phoneId" 
                            formControlName="phone" 
                            placeholder="Phone" 
                            [ngClass]="{'is-invalid': (signUpForm.controls['phone'].touched || signUpForm.get('phone')?.dirty) && !signUpForm.get('phone')?.valid }" >
                    <label for="phoneId">Phone</label>
                    <!-- <span class="invalid-feedback">
                        <span *ngIf="signUpForm.controls['phone']?.errors?.['required']">
                            <em>Please enter your phone number</em>
                        </span>
                    </span> -->

                    <div *ngIf="(signUpForm.controls['phone'].touched || signUpForm.controls['phone'].dirty)  && !signUpForm.controls['phone'].valid">
                        <span class="invalid-feedback" *ngIf="signUpForm.controls['phone'].errors?.['required']">
                            <em>Please enter your phone</em>
                        </span>
                    </div>
                    
                </div>

                <div class="button">
                    <button class="btn fw-bold w-100 p-2" type="submit" [disabled]="!signUpForm.valid" style="color: white; font-size: 1rem; border: none;">Continue</button>
                </div>
            </form>

            <p class="text-center mt-4 mb-4">By continuing you agree to Jossy's <br> <a href="">Terms and Conditions</a></p>

            <p class="text-center mt-3">For further support, you may visit the Help Center or contact our customer service team.</p>
                
            <div class="header d-flex align-items-center mt-4">
                <h5 class="mb-0 fw-bold me-1">JOSSY</h5>
                <span class="material-icons icon">star</span>
            </div>
            
        </div>
    </div>
</div>