.header {
    margin: 1rem auto;
    width: fit-content;
    /* margin-bottom: 1rem; */
}

.material-icons {
    border-radius: 50%;
    font-size: 4rem;
    background-color: #f68b1e;
    color: white;
    padding: 0;
    text-align: center;
    padding: 2px;
}

.center {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}


.form-control {
    padding: 0.75rem;
}

input {
    /* outline: 0.3px solid rgb(123, 123, 123); */
    outline: 0.2px solid rgba(222, 222, 222, 0.995);
}


input:focus {
    outline: 1px solid #f68b1e;
    box-shadow: none;
    border: none;

}


input:autofill {
    /* -webkit-box-shadow: 0 0 0 1000px white inset !important; */
    box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
}

.is-invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    color: red;
    display: block;
  }

.button {
    background-color: #f68b1e; 
    text-align: center; 
    margin-top: 1.3rem; 
    padding: 0.5rem;
    border-radius: 4px;
}

.icon {
    border-radius: 100%;
    font-size: 1rem;
    background-color: #f68b1e;
    color: white;
    padding: 2px;
}

a {
    text-decoration: none;
}

label {
    color: rgba(84, 83, 83, 0.978);
}


.form-floating:focus-within label {
    color: #f68b1e;
}
